
Lecture2/data/mnist/t10k-images.idx3-ubyte

Lecture2/data/mnist/t10k-labels.idx1-ubyte

Lecture2/data/mnist/train-images.idx3-ubyte

Lecture2/data/mnist/train-labels.idx1-ubyte

Lecture2/examples/.idea/examples.iml

Lecture2/examples/.idea/misc.xml

Lecture2/examples/.idea/modules.xml

Lecture2/examples/.idea/workspace.xml

Lecture2/examples/process_data.pyc
